@import 'tailwindcss';

:root {
  --background: #000;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.transform-button {
  background: transparent;
  border: 1px white solid;
  padding: 0.5rem 1rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  /* text-transform: uppercase; */
  cursor: pointer;
  transform: skew(-0deg);
}

.transform-button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: white;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.transform-button:hover {
  color: black;
}

.transform-button:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}
